/* 초기화코드 시작 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Nanum Gothic','맑은 고딕',Sans-serif,Helvetica;
    background: #fff;
    line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display: block;
}

nav ul, li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #fff;
    background: transparent;
}

img {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: top;
    appearance: none;
    border: 1px solid #e65d5d;
    color: #e65d5d;
    border-radius: 0; 
    font-family: 'Nanum Gothic','맑은 고딕',Sans-serif,Helvetica;
}

input::-moz-input-placeholder {
    color: #e65d5d;
}

input::-webkit-input-placeholder {
    color: #e65d5d;
}

/* 초기화 끝 */

/* 모바일용 CSS 시작 */
/* 기본 CSS */
#container {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

/* 헤더 영역 CSS */
.header {
    display: flex;
    order: 1;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.header .lnb {
    display: none;
}

.header .busan {
    display: none;
}

.logo {
    order: 1;
    width: 100%;
    padding: 30px 0;
    font-size: 35px;
    line-height: 21px;
    text-align: center;
    background: rgb(185, 67, 106);
}

.nav {
    order: 2;
    width: 100%;
}

.gnb{
    display: none;
}

.gnb li{
    display: flex;
    background: gray;
}

.gnb li a {
    width: 80%;
    padding: 20px 0;
    font-size: 18px;
    text-indent: 25px;
    font-weight: bold;
}

.gnb li span {
    width: 10%;
}

.menu_toggle_btn {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 29px;
    right: 20px;
    background: url('../images/menu.png') no-repeat;
    cursor: pointer;
}

/* 메인 영역 CSS */
main {
    order: 2;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

main h1 {
    font-size: 20px;
    margin: 15px;
}

/* 교통수단 영역 CSS */

.tr {
    order: 3;
    padding: 20px 70px;
    background: #47a0db;
    text-align: center;
}

.tr img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.tr li:nth-child(1) {
    margin-bottom: 30px;
}

.tr li figcaption {
    margin: 20px 30px;
    font-size: 30px;
    font-weight: bold;
}

/* 부산음식 영역 CSS */

.bf {
    order: 4;
    padding: 10px;
    background: #fff;
}

.bf h1 {
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
}

.bfb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bfb li {
    width: 49%;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.bfb li a {
    display: block;
    padding: 5px;
    color: #000;
    border: 2px solid skyblue;
    border-radius: 10px;
}

/* 부산 관광지 영역 CSS */
.bl {
    order: 5;
    padding: 10px;
    background: #fff;
}

.bl h1 {
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
}

.blb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blb li {
    width: 49%;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.blb li a {
    display: block;
    padding: 5px;
    color: #000;
    border: 2px solid skyblue;
    border-radius: 10px;
}

/* 부산 축제 영역 CSS */

.fb {
    order: 6;
    width: 100%;
}

.fb h1 {
    font-size: 20px;
    margin: 15px;
}

/* 소통 영역 CSS */

.st {
    order: 7;
    width: 100%;
    margin: 15px;
}

.st img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.sti {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sti li {
    width: 48%;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.sti li a {
    display: block;
    padding: 5px;
    font-size: 50px;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
}

/* 푸터 영역 CSS */
.footer {
    order: 8;
    width: 100%;
    background: #444141;
}

.footer .ft {
    max-width: 1200px;
    margin: 0px auto;
    padding: 6px 0;
}

.footer .ft .upper {
    width: 100%;
    border-bottom: 1px solid #888;
    padding-bottom: 6px;
}

.footer .ft .upper h1 {
    color: #888;
    font-weight: bold;
    padding-left: 10px;
}

.footer .ft .lower {
    width: 100%;
    padding-top: 6px;
    padding-left: 10px;
}

.footer .ft .lower address {
    width: 100%;
    color: #888;
    margin: 6px 0;
}

.footer .ft .lower p {
    width: 100%;
    color: #888;
}
/* 모바일 영역 CSS 끝 */

/* 태블릿용 CSS */
@media all and (min-width:768px){
/* 기본 CSS */
#container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

/* 헤더 영역 CSS */
.header {
    order: 1;
}

.header .lnb {
    display: none;
}

.header .busan {
    display: none;
}

.nav {
    position: relative;
    min-height: 20px;
}

.gnb {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 40%;
}

.menu_toggle_btn {
    top: 30px;
    right: 30px;
    z-index: 20;
}

/* 메인 영역 CSS */
.main {
    order: 2;
    width: 100%;
}

/* 부산음식 영역 CSS */
.bf {
    order: 3;
    width: 45%;
}

/* 부산 관광지 영역 CSS */
.bl {
    order: 4;
    width: 45%;
}

/* 교통수단 영역 CSS */
.tr {
    order: 5;
    width: 100%;
    margin: 20px 0;
}

.trp {
    display: flex;
}

.trp li {
    width: 46%;
}

.trp li:nth-of-type(2) {
    margin-left: 10%;
}

/* 부산 축제 영역 CSS */
.fb {
    order: 6;
    width: 55%;
    margin-top: 4%;
}

/* 소통 영역 CSS */
.st {
    order: 7;
    width: 35%;
    margin-left: 5%;
}

}

/* 태블릿 영역 CSS 끝 */

/* PC용 CSS */
@media all and (min-width:1024px){
/* 기본 CSS */
#container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    box-sizing: border-box;
}

/* 헤더 영역 CSS */
.header {
    order: 1;
    background-color: #555;
    position: relative;
}

.menu_toggle_btn {
    display: none;
}

.header .lnb {
    display: flex;
    position: absolute;
    top: 5px;
    right: 10px;
}

.header .lnb li a {
    display: block;
    padding: 0 10px;
    color: #000;
}

.header .busan {
    display: flex;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 100px;
    height: 70px;
    cursor: pointer;
}

.logo {
    background: #fff;
}

.header h1 a {
    color: #000;
}

/* 메인 영역 CSS */
.main {
    order: 2;
    width: 45%;
    padding-top: 3%;
}

/* 부산 축제 영역 CSS */
.fb {
    order: 3;
    width: 54%;
}

/* 교통수단 영역 CSS */
.tr {
    order: 4;
    width: 35%;
}

/* 부산음식 영역 CSS */
.bf {
    order: 5;
    width: 18%;
    margin-left: 2.5%;
}

/* 부산 관광지 영역 CSS */
.bl {
    order: 6;
    width: 22%;
    margin-left: 2.5%;
}

/* 소통 영역 CSS */
.st {
    display: none;
}

/* 푸터 영역 CSS */
.footer {
    margin-top: 2%;
}

}